name: smart_pet_manager
description: A simple Smart Pet Manager app demonstrating OOP in Flutter (classes, inheritance, interface, mixin).
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # No external packages required
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
